DATABASE_URL=

MODEL_TYPE=logistic_regression
MODEL_NAME_PREFIX=logistic_regression_weighted

LR_SOLVER=saga
LR_C=18.06362747243349
LR_PENALTY=elasticnet
LR_L1_RATIO=0.4401315633673214
LR_MAX_ITER=5000
LR_CLASS_WEIGHT=balanced

TEST_SIZE=0.20
RANDOM_STATE=42

SNAPSHOT_YEAR=2014
SNAPSHOT_DATE=2014-06-30